body {
    font-family: 'Arial', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html body {
   overflow-x: hidden;
}

html ul, ol {
   margin: 0px;
   padding: 0px;
   list-style: none;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #fff;
   text-align: center;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 9999;
   transition: all 1s;
}

.active {
   background-color: #432818;
}

.logo img {
   width: 100px;
   height: 100px;
   padding-left: 20px;
}

.menuToggle {
   font-size: 1.5rem;
   cursor: pointer;
   display: none;
}

.navbar {
   list-style: none;
   display: flex;
}

.navbar li {
   margin: 0 10px;
}

.navbar a {
   text-decoration: none;
   color: rgb(241, 245, 245);
   padding: 10px;
   border-radius: 5px;
   transition: baground-color 0.3s ease;
}

.navbar a:hover {
   background-color: #bb9457;
   color: #fff;
}

@media only screen and (max-width: 600px) {
   .menuToggle {
      display: inline-block;
      padding-right: 20px;
      
  }
  .navbar {
      justify-content: center;
      align-items: center;
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: -100%;
      width: 15rem;
      height: 50vh;
      background-color: #432818;
      border-radius: 1rem;
      transition: right 0.3s ease;
  }
  .navbar.show {
      right: 0;
      display: flex;
  }
  .navbar li {
      margin: 10px;
      text-align: center;
  }
  .navbar a {
      text-decoration: none;
      color: rgb(241, 245, 245);
      padding: 10px;
      border-radius: 5px;
      transition: baground-color 0.3s ease;
  }
  .navbar a:hover {
      background-color: #bb9457;
      color: #fff;
  }
}

.judul {
   position: relative;
   width: 100vw;
   height: 68vh;
}
.judul .item {
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   position: relative;
   display: inline-block;
}
.judul .item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   filter: brightness(0.6);
}
.item .content {
   color: rgb(255, 255, 255);
   text-align: center;
   align-items: center;
   width: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -10%);
}
.item .content h1 {
   font-size: 2.5rem;
   color: white;
   text-shadow: rgb(67, 40, 24) 3px 2px 2px;
   font-family: Georgia, "Times New Roman", Times, serif;
}


.row {
   display: flex;
   flex-wrap: wrap;
   margin: 5rem;
   justify-content: center;
}
.menu-card {
   text-align: center;
   margin-bottom: 1rem;
}
.menu-card img{
   border-radius: 50%;
   width: 20rem;
   height: 15rem;
   padding: 1rem;
}
.menu-card-title {
   margin: 1rem auto 0.5rem;
   font-size: 1.5rem;
}

.menu-card-price {
   font-size: 1.2rem;
   padding: 1rem;
}

.menu-card .menu-card-action {
   color: white;
   border: 2px solid black;
   padding: 0.5rem 1.5rem;
   text-decoration: none;
   background-color: #6F1D1B;
   text-transform: uppercase;
}

footer {
   background-color: rgb(67, 40, 24);
   color: rgb(255, 255, 255);
   width: 100%;
   height: auto;
   position: relative;
   box-sizing: border-box;
   padding: 25px 50px;
}
footer .container {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   padding-left: 15px;
   padding-right: 15px;
   gap: 20px;
}

footer .container .sec h2 {
   position: relative;
   color: rgb(255, 230, 167);
   font-weight: 600;
   margin-bottom: 15px;
}

footer .container .sec p {
   color: rgb(255, 255, 255);
   line-height: 28px;
   margin: 0px;
}

footer .container .sci {
   margin-top: 20px;
   display: grid;
   grid-template-columns: 0.15fr 0.15fr 0.15fr;
}

footer .container .sci li {
   list-style: none;
   margin: 0%;
}

footer .container .sci li a {
   width: 36px;
   height: 36px;
   display: grid;
   align-content: center;
   justify-content: center;
   background: rgb(153, 88, 42);
   text-decoration: none;
   border-radius: 30px;
}
footer .container .sci li a i {
   color: white;
   font-size: 20px;
}
footer .container .openhours li {
   display: flex;
}
footer .container .openhours li span {
   width: 100%;
   line-height: 28px;
}
footer .container .contact .info {
   position: relative;
}
footer .container .contact .info li {
   display: grid;
   grid-template-columns: 30px 1fr;
   margin-bottom: 10px;
}
footer .container .contact .info li a {
   color: rgb(255, 255, 255);
   text-decoration: none;
}
footer .container .contact .info li span {
   color: rgb(255, 255, 255);
   font-size: 20px;
   line-height: 28px;
}
.copyrightText {
   width: 100%;
   background-color: rgb(153, 88, 42);
   padding-top: 5px;
   padding-bottom: 5px;
   text-align: center;
   color: rgb(255, 255, 255);
}
footer .container {
   @media only screen and (max-width: 600px) {
     grid-template-columns: 1fr;

   }
}